*, *::before, *::after {
  box-sizing: border-box;
}
:root {
  --color-dark: #343a40
}
.video-container{
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 1em;
}

.video {
  position: relative;
  padding-bottom:56.25%;
  background-image: radial-gradient(#555, black);
}

.video-content {
  position:absolute;
  width: 100%;
  height: 100%;
  border-width: 0;
  border-radius: 0.45rem;
}

.detalles {
  margin-bottom: 1em;
  margin-left: 0.5em;
  background-image: black;
}

.description {
  background-color: hsl(0,0%,80%);
  border-radius: 2em;
  padding: 1em;
  margin: 0 1em 1em;
}

.datos{
  background-image: linear-gradient(black 10%, var(--color-dark));
}

.bg-black {
  background-color: black;
}

.bg-dark-to-black{
  background-image: linear-gradient(var(--color-dark), black)
}

.btn-back {
  background-color: hsl(0,0%,0%,0.6);
  line-height:2.6em;
  padding-left: 1em;
  padding-right: 1em;
  border-radius: 0.4em;
  margin: 0 0.5em;
  width: 2.6em;
  position: absolute;
}

.btn-back:hover{
  background-color: hsl(0,0%,0%,1);
}

.movie-header {
  position:relative;
  font-size: 1rem;
}

.movie-header .movie-title{
  position: relative;
  left: 3.5em
}